@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
}

.logo {
  font-family: "Lobster", cursive;
  src: "https://fonts.googleapis.com/css2?family=Lobster&display=swap";
}
