@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
}

.logo {
  font-family: "Lobster", cursive;
  src: "https://fonts.googleapis.com/css2?family=Lobster&display=swap";
  scroll-behavior: smooth;
}

.loading {
  border-radius: 50%;
  border: 10px solid white;
  height: 150px;
  width: 150px;
  animation: rotation 6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
    border-color: rgb(255, 0, 0) white white white;
  }
  20% {
    transform: rotateZ(360deg);
  }
  20.1% {
    transform: rotateZ(0deg);
    border-color: rgb(246, 255, 0) white white white;
  }
  40% {
    transform: rotateZ(360deg);
  }
  40.1% {
    transform: rotateZ(0deg);
    border-color: rgb(43, 255, 0) white white white;
  }
  60% {
    transform: rotateZ(360deg);
  }
  60.1% {
    transform: rotateZ(0deg);
    border-color: rgb(0, 153, 255) white white white;
  }
  80% {
    transform: rotateZ(360deg);
  }
  80.1% {
    transform: rotateZ(0deg);
    border-color: rgb(255, 0, 230) white white white;
  }
  100% {
    transform: rotateZ(360deg);
    border-color: rgb(255, 0, 0) white white white;
  }
}

.entering {
  font-family: "Lobster", cursive;
  src: "https://fonts.googleapis.com/css2?family=Lobster&display=swap";
  animation: entering 3s linear infinite;
}

@keyframes entering {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bodyDisplay {
  animation: bodyDisplay 0.5s linear;
}

@keyframes bodyDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
